<!-- Header bar and title -->
<ion-view view-title="Forecast">
  <!-- Main controller defined and data retrieved -->
  <ion-content ng-controller="WeatherDataCtrl">
    <!-- Item repeated for each day of the week -->
    <div ng-repeat="day in [1,2,3,4,5,6,7]">
      <!-- Item dividers between days to function as subheaders with date
        data and a summary icon -->
      <div class="item item-divider">
        {{getDate(day) | date: 'fullDate'}}
        <img align="right" width="6.5%" src="{{getIconPic(day)}}">
      </div>
      <!-- Weather data and a fun image thumbnail corresponding to the
        temperature-->
      <div class="item item-text-wrap">
        <a class="item item-thumbnail-left" href="#">
          <img src="{{getTempPic(day)}}">
          <p>High: {{weather.daily[day].maxTemp}}&deg F</p>
          <p>Low: {{weather.daily[day].minTemp}}&deg F</p>
          <p>{{weather.daily[day].summary}}</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
