<!-- Header bar and title -->
<ion-view view-title="Today">
  <!-- Main controller defined and data retrieved -->
  <ion-content ng-controller="WeatherDataCtrl">
    <!-- Item Devider for a subheader containing the date and day -->
    <div class="item item-divider">
      {{getDate(0) | date: 'fullDate'}}
    </div>
    <!-- Weather info and a summary icon thumbnail -->
    <div class="item item-text-wrap">
      <a class="item item-thumbnail-right" href="#">
        <img src="{{getIconPic(0)}}">
        Temp: {{weather.currently.temperature}}&deg F </br>
        Dew Point: {{weather.currently.dewPoint}}&deg F </br>
        Humidity: {{weather.currently.humidity}} </br>
        Summary: {{weather.daily[0].summary}}
      </a>
      <!-- A fun image based on the temperature -->
      <div class="item item-image">
        <img src="{{getTempPic(0)}}">
      </div>
    </div>
  </ion-content>
</ion-view>
