<!-- Header bar and title -->
<ion-view view-title="Today">
  <!-- Main controller defined and data retrieved -->
  <ion-content ng-controller="WeatherDataCtrl">
    <!-- Item Devider for a subheader containing the date and day -->
    <div ng-controller="DateDataCtrl" class="item item-divider">
      {{getDay(0)}}, {{getDate(0)}}
    </div>
    <!-- Weather info and a summary icon thumbnail -->
    <div class="item item-text-wrap">
      <a class="item item-thumbnail-right" href="#">
        <img src="{{getIconPic(0)}}">
        Temp: {{getCurrentTemp()}}&deg F </br>
        Dew Point: {{getDewPoint(0)}}&deg F </br>
        Humidity: {{getHumidity(0)}} </br>
        Summary: {{getSummary(0)}}
      </a>
      <!-- A fun image based on the temperature -->
      <div class="item item-image">
        <img src="{{getTempPic(0)}}">
      </div>
    </div>
  </ion-content>
</ion-view>
